body
	{
		background: url(/lab0/background.gif);
		-moz-background-size:    cover;
		-webkit-background-size: cover;
		-o-background-size:      cover;
		background-size:         cover;
		background-height:       cover;
		text-align:             center;
	}
img
{
		width:  1000px;
		height:  500px;
}
b
{
    font: bold 1em "BatmanForever",serif;
    font-weight: 400;
    font-stretch: expanded;
}
.VisibleText
{
	text-shadow: 2px 0 0 #fff;
	font-size: 30px;
}
.DivBackground
{
	background-color: rgba(100%,100%,100%,0.7);
	border: 1px solid #B0C4DE;
	padding: 0px;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 5px;
}
.abc
{
    font: bold 2.5em "Martyricpersonal",serif;
    font-weight: 400;
    font-stretch: expanded;
}
.buttonup
{
width:100px; 
height:50px;
position:fixed;
bottom:20px;
right:50px;
}
.transparent
{
    filter: alpha(Opacity=50);
    opacity: 0.5; 
 }
 .p_check
 {
  	width: 100%;
	min-height: 150px;
	background-color: yellow;
	float: left;
}
.p_block
{
    margin-top: 30px;
}
p_one
{
  background-color: #5eff18;
  align: left;
  font-family: cursive;
  font-size: 25px;
  color: white;
  text-indent: 30px;
  line-height: 30px;
}
p_two
{
  background-color: black;
  align: center;
  font-family: fantasy;
  font-size: 20px;
  color: white;
  text-indent: 35px;
  line-height: 35px;
}
p_three
{
  background-color: purple;
  align: right;
  font-family: monospace;
  font-size: 15px;
  color: white;
  text-indent: 40px;
  line-height: 40px;
}
.p_one:hover
{
    background-color: #42ecf5;
}
.p_two:hover
{
    background-color: #42ecf5;
}
.p_three:hover
{
    background-color: #42ecf5;
}
